body {
    background-color: #FFFFFF;
}

.container-jogo {
    width: 100%;
    height: 466.67px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.imagem-forca {
    width: 400px;
    height: 466.67px;
    margin-left: 38px;
}

.container-palavra {
    height: 100%;
    margin-right: 53px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-palavra button {
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    border-style: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.palavra-jogo {
    height: 68px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: #000000;
    margin-top: 282px;
}

.acertou-palavra {
    color: #27AE60;
}

.errou-palavra {
    color: #FF0000;
}

.container-letras {
    width: 664px;
    height: 91px;
    margin-top: 70.33px;
    margin-left: 211px;
    display: flex;
    flex-wrap: wrap;
}

.container-letras button {
    width: 40px;
    height: 40px;
    background-color: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #39739D;
    margin-right: 12px;
}

.container-letras button:disabled {
    background-color: #9FAAB5;
    color: #798A9F;
}

.container-letras button:nth-of-type(13n) {
    margin-right: 0px;
}

.container-letras button:nth-of-type(n+14) {
    margin-top: 11px;
}

.container-chute {
    width: 100%;
    height: 40px;
    margin: 56px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-chute>p {
    width: 144px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    color: #000000;
}

.container-chute>input {
    width: 353px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 15px;
    box-sizing: border-box;
}

.container-chute>button {
    width: 100px;
    height: 100%;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C76A1;
}